@charset "utf-8";

.contenidoInicio {
	text-align: center;
	font-family: "Georgia", sans-serif;
}

.circulo {
	width: 200px;
	height: 200px;
	background-color: #3498db;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.circulo img {
	width: 100%;
	border-radius: 50%;
}

.nombreCurriculum {
	margin-top: 20px;
}

.nombreCurriculum h1,
.nombreCurriculum h3 {
	text-align: center;
}

.nombreCurriculum h3 a {
	color: #3498db;
	font-style: italic;
}

.seccionInferior {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	margin-left: 20px;
	/* Ajusta el margen superior según sea necesario */
}

.columnaIzquierda,
.columnaCentro,
.columnaDerecha {
	width: 30%;
	box-sizing: border-box; 
    border: 1px solid #ffffff; 
    padding: 10px; 
    margin: 10px 20px 30px 3px;
	border-radius: 20px;
	box-shadow: 2px 2px 5px rgba(28, 27, 27, 1);
}

.columnaIzquierda {
	padding-left: 20px;
}

.columnaDerecha {
	padding-right: 30px;
}

.contenidoCI {
	text-align: justify;
}

.contenidoCI a {
	color: #0a0a0a;
}


/* Añade estilos adicionales según sea necesario */