@charset "utf-8";

.contenidoEstudios {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f8f8f8;
}

.seccionEstudios {
    width: 60%;
    text-align: center;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(28, 27, 27, 1);
    border-radius: 10px;
    background-color: #fff;
}

.detalleEstudios {
    margin-top: 40px;
}

.detalleEstudios img {
    width: 50%;
    height: auto;
    border-radius: 50px;
    -webkit-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

.detalleEstudios img:hover {
    transform: scale(1.);
}


p a {
    font-style: italic;
    color: rgba(12, 0, 27, 0.908);
}